<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <button onclick="press(key)" class="alphabet center"><h1 id="beta" class="letter"></h1></button>
    <button onclick="press('backspace')" class="backspace">
        <img width="200" height="100" src="static/backspace.svg" alt="">
    </button>
    <button onclick="press('space')" class="space">
        <img width="200" height="100" src="static/space.svg" alt="">
    </button>
    <button onclick="press('enter')" class="enter">
        <img width="200" height="100" src="static/enter.svg" alt="">
    </button>
    <script src="static/script.js"></script>
</body>

</html>